@charset "ISO-8859-1";


.pagina-gestisci-corsi {
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: flex-start;
	flex: 1 1 0px;
	min-width: 100%;
}

.pagina-gestisci-corsi > .forms {
	display: flex;
	flex-direction: row;
	gap: 100px;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 1 1 0px;
	min-width: 100%;
}

.pagina-gestisci-corsi > .forms > form {
	flex: 1 1 0;
	width: 100%;
	align-items: flex-start;
}



/*******************/
/* Elementi Mobile */
/*******************/

@media screen and (max-width: 820px) {
	.pagina-gestisci-corsi {
		gap: 15px;
	}
	
	.pagina-gestisci-corsi > .forms {
		gap: 50px;
	}
	
}