/* Font */
@import
	url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
	;


/* Palette */
:root {
	--nero: #111111ff;
	--grigio-scuro: #5E5E5E;
	--grigio: #777777ff;
	--grigio-sfondo: #F3F3F3ff;
	--bianco: white;
	/* CTA */
	--rosso: #FD0110ff;
}

span {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

html{
	overflow-x: hidden;
}

spacer {
	margin: 25px;
}



/********************/
/* Elementi Desktop */
/********************/


/* Testo */
* {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 0;
	font-size: 1.25rem;
	
}

body {
	position: relative;
	background-color: var(--grigio-sfondo);
	padding-left: 8.3vw;
	padding-right: 8.3vw;
	overflow-x: hidden;
	padding-bottom: 8.3vh;
	
}

.titolo {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: 400;
}

.titolo.grande {
	font-size: 3.5rem;
}

.titolo.piccolo {
	font-size: 2rem;
}

.paragrafo.grande {
	font-size: 1.5rem;
}

.font.medio {
	font-weight: 500;
}

bold, .font.grassetto {
	font-weight: 700;
}

a {
	color: var(--grigio);
}

a:hover {
	filter: brightness(90%);
}

p {
	width: fit-content;
}


/* Pulsanti */
button:hover {
	filter: drop-shadow(0 4px 4px #00000033) brightness(95%);
}

button:active {
	filter: drop-shadow(0 4px 4px #00000033) brightness(85%);
}

button {
	filter: drop-shadow(0 4px 4px #00000033);
	padding: 11px;
	padding-left: 25px;
	padding-right: 25px;
	max-width: fit-content;
	font-weight: 600;
}

button.contieni-immagine {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding: 12px;
	
	border: 0;
	color: var(--bianco);
	background-color: var(--nero);
}

button.contieni-immagine.vuoto {
	filter: drop-shadow(0 4px 4px #00000000);
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: 0;
}

button.cta {
	background-color: #FF000F;
	border: 0;
	color: var(--bianco);
}

button.primario {
	background-color: var(--nero);
	border: 0;
	color: var(--bianco);
}

button.primario:hover {
	filter: drop-shadow(0 4px 4px #00000033) brightness(90%);
}

button.primario:active {
	filter: drop-shadow(0 4px 4px #00000033) brightness(80%);
}

button.secondario {
	background-color: transparent;
	border-width: 3px;
	border-color: var(--nero);
	color: var(--nero);
}

button.secondario:hover {
	color: var(--grigio-scuro);
}

button.secondario:active {
	filter: drop-shadow(0 4px 4px #00000033) brightness(115%);
}

button[disabled] {
	background-color: transparent;
	border-style: solid;
	border-width: 3px;
	border-color: var(--grigio);
	color: var(--grigio);
	filter: drop-shadow(0 4px 4px #00000000);
}


/* Card */
.card-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
	flex-wrap: wrap;
	
	gap: 10px;
	row-gap: 75px;
	min-width: 100%;
	grid-auto-flow: row;
}

.card {
	filter: drop-shadow(0 0px 14px rgba(11, 11, 11, 0.25));
	background-color: var(--bianco);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px;
	width: fit-content;
	gap: 30px;
	max-width: 25%;
	flex-shrink: 1;
	flex-grow: 1;
	margin-right: auto 
	
}


/* Checkbox */
.checkbox-wrapper {
	display: block;
	width: 35px;
	height: 35px;
	padding: 5px;
	border: 3px solid var(--nero);
}

.checkbox-wrapper * {
	box-sizing: border-box;
}

.checkbox-wrapper *::before {
	background-color: var(--rosso);
}

.checkbox-wrapper *::after {
	background-color: var(--rosso);
}

.checkbox-wrapper label {
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.checkbox-wrapper input {
	visibility: hidden;
	display: none;
	transform: rotate(45deg);
}

.checkbox-wrapper input:checked ~ .checkbox {
	width: 14px;
	margin-left: 12px;
	padding-bottom: 10px;
	border-color: var(--rosso);	
	border-top-color: transparent;
	border-left-color: transparent;
	border-width: 3.5px;
}

.checkbox-wrapper .checkbox {
	display: block;
	transform: rotate(45deg) translate(-5px, -5px) scale(180%) !important;
	filter: drop-shadow(0 4px 4px #ffffff33);
	width: inherit;
	height: inherit;	
	border: 0px solid transparent;
	transition: all 0.155s;
}


/* Text input */
input[type=text], textarea
{
    color: var(--nero);
    max-height: 28px;
    min-width: 100px;
	flex: 1 1 28px;
    padding: 10px;
    text-decoration: none;
    
    background-color: transparent;
	border-style: solid;
	border-width: 3px;
	border-color: var(--nero);
}

textarea {
	max-height: 200px;
	min-height: 120px;
	resize: none;
}

.textbox {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	width: 100%;
	max-width: 500px;
	gap: 7px;
	justify-content: flex-start;
}


/* Menu a tendina */

.custom-select {
  position: relative;
  min-width: 120px;
}

select {
  	appearance: none;
  	width: 100%;
	padding: 0.675em 2em 0.675em 1em;
	background-color: transparent;
	border: 2px solid var(--nero);
	border-radius: 0;
	color: var(--nero);
	cursor: pointer;
}


.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
  border-radius: 0;
  
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
  border-radius: 0;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
  border-radius: 0;
}


/* Form */
form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 1 1 0;
	gap: 30px;
	justify-content: center;
	align-content: center;
	align-items: center;
}


/* date */
.datetime-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  width: max-content;
}

.datetime-wrapper input {
  padding: 0.675em 1em 0.675em 1em;
  border: 2px solid var(--nero);
  background-color: transparent;
}

.date-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  width: max-content;
}

.date-wrapper input {
  padding: 0.675em 0.2em 0.675em 1em;
  border: 2px solid var(--nero);
  background-color: transparent;
}



/*******************/
/* Elementi Tablet */
/*******************/

@media screen and (max-width: 1400px) {
	* {
		font-size: 1.1rem;
	}
	.titolo.grande {
		font-size: 2.8rem;
	}
	.titolo.piccolo {
		font-size: 1.65rem;
	}
	.paragrafo.grande {
		font-size: 1.25rem;
	}	
	.card-grid  {
		row-gap: 50px;
	}
	.card {
		max-width: 40%;
	}
	button.contieni-immagine {
		padding: 10px;
	}
}



/*******************/
/* Elementi Mobile */
/*******************/

@media screen and (max-width: 820px) {
	* {
		font-size: 1rem;
	}
	.titolo.grande {
		font-size: 2.5rem;
	}
	.titolo.piccolo {
		font-size: 1.5rem;
	}
	
	.checkbox-wrapper {
		transform: scale(90%);
	}
	.checkbox-wrapper .checkbox {
		transform: scale(100%);
	}
	
	button.contieni-immagine {
		padding: 8px;
	}
	
	.card-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-width: 100%;
		grid-auto-flow: row;
		row-gap: 35px;
	}
	.card {
		filter: drop-shadow(0 0px 14px rgba(11, 11, 11, 0.25));
		background-color: var(--bianco);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
		max-width: 95%;
		gap: 20px;
	}
	spacer {
		margin: 3px;
	}
}