@charset "ISO-8859-1";


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Palette */
:root {
  --nero: black;
  --grigio: #777777;
  --grigio-sfondo: #F3F3F3;
  --bianco: white;

  /* CTA */
  --rosso: #FD0110;
}



/********************/
/* Elementi Desktop */
/********************/

/* Testo */
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

body {
	background-color: var(--grigio-sfondo);
}

.titolo-grande {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 3.5rem;
}

.titolo-piccolo {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
}

.paragrafo-grande {
	font-size: 1.5rem;
}

.font-medio {
  font-weight: 500;
}

.font-grassetto {
  font-weight: 700;
}

a:hover {
	filter: brightness(90%);
}


/* Pulsanti */
button:hover {
	filter: drop-shadow(0 4px 4px #00000033) brightness(95%);
}

button:active {
	filter: drop-shadow(0 4px 4px #00000033) brightness(85%);
}

.cta {
	background-color: #FF000F;
	border: 0;
	filter: drop-shadow(0 4px 4px #00000033);
	padding: 13px;
	padding-left: 25px;
	padding-right: 25px;
	color: var(--bianco);
	font-weight: 600;
	max-width: fit-content;
}



/*******************/
/* Elementi Tablet */
/*******************/

@media screen and (max-width: 1200px) {
	 * {
	   font-size: 1.1rem;
	 }
	
	 .titolo-grande {
	   font-size: 2.8rem;
	 }
	
	 .titolo-piccolo {
	   font-size: 1.65rem;
	 }
  
	.paragrafo-grande {
		font-size: 1.25rem;
	}
}



/*******************/
/* Elementi Mobile */
/*******************/

@media screen and (max-width: 620px) {
  * {
    font-size: 1rem;
  }

  .titolo-grande {
    font-size: 2.5rem;
  }

  .titolo-piccolo {
    font-size: 1.5rem;
  }
}
